@model IEnumerable<LuNascimento.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Lista de Categorias</h1>

<p>
    <a asp-action="Create" >Crie Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-title="Editar"><i class="bi bi-pencil-fill"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-title="Exibir Detalhes"><i class="bi bi-search"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-title="Excluir"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
