@model LuNascimento.Models.Produto
@{
	ViewData["Title"] = "Detalhes";
}
<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 mb-5 ftco-animate">
				<a class="image-popup prod-img-bg">
					<img src="@Model.Foto" class="img-fluid" alt="@Model.Nome">
				</a>
			</div>
			<div class="col-lg-7 product-details pl-md-5 ftco-animate">
				<div class="col-md-12 tab-wrap">
					<div class="tab-content bg-light" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
							aria-labelledby="day-1-tab">
							<div>
								<h2 class="mb-4">@Model.Nome</h2>
								<p>@Model.Descricao</p>
								<p style="font-size:32px; color:red">R$ @Model.Preco</p>
							</div>
						</div>
						<p><a href="https://wa.me/5514991619026?text=Quero comprar um produto! Poderia me informar os aromas disponíveis?" target="_blank"
								class="btn btn-primary py-3 px-5">Compre Agora</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>